* {
    margin: 10px;
    font-family: 'Lato', sans-serif;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: gray;
    position: fixed;
    width: 100%;
    opacity: 100%;
    overflow: hidden;
    top: 0;
    z-index: 1;
    font-size: 0.9rem;
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: 600;
}

.button {
    position: top;
}

.navbar-brand{
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    font-variant: small-caps;
    padding-left: 1%;
}

.ml-auto {
    text-shadow: lightslategray;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 10%;
    text-align: center;
    font-size: 1.2rem;
}

.main {
    margin: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 0.85rem;
    padding-top: 40px;
}

.main .row .col-lg h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.email {
    font-weight: 999;
}

#about {
    padding-left: 70px;
    padding-right: auto;
    line-height: 18px;
}

#header {
    margin: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

hr {
    width: 36.5%;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    border-top: 0.25px solid lightgrey
}

.footer {
    background-color: #f8f9fa;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    font-family: 'Lato', sans-serif;
    font-size: 0.5rem;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    body {
      background-color: #f8f9fa;
    }
    .wrapper {
      width: 600px;
    }
  }
  @media screen and (max-width: 480px) {
    body {
      background-color: #f8f9fa;
    }
    .wrapper {
      width: 600px;
    }
  }